<div>Audio Player</div>

<mat-list>
    <h3 mat-subheader>Audios</h3>
    <mat-list-item *ngFor="let audio of audios; let i = index" (click)="openFile(audio, i)">
      <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
      <h4 mat-line>{{audio.name}}</h4>
      <p mat-line> {{audio.duration}} </p>
      <mat-icon color="primary" *ngIf="currentFile.index === i && !state?.error">volume_up</mat-icon>
      <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>

      <button mat-button>Update</button>
      <button mat-button>Delete</button>

      
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<!--
<div *ngIf="this.currentAudio?.file && this.currentAudio?.file != 'null'">
  <audio controls>
    <source src="{{ url + 'get-audio-file/' + this.currentAudio?.file }}" type="audio/mpeg" />
      El navegador web no soporta la reproducción de audio
  </audio>
</div>
-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
     {{ state?.readableCurrentTime }}
     <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
     {{ state?.readableDuration }}
  </mat-toolbar-row>

  <mat-toolbar-row class="media-action-bar">
    <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
      <mat-icon mat-list-icon>skip_previous</mat-icon>
    </button>

    <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
      <mat-icon mat-list-icon>play_circle_filled</mat-icon>
    </button>

    <button mat-button (click)="pause()" *ngIf="state?.playing">
      <mat-icon mat-list-icon>pause</mat-icon>
    </button>

    <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
      <mat-icon mat-list-icon>skip_next</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>