<p>Upload file!</p>

<form (submit)="submit()" [formGroup]="uploadForm">
    <div>
      <mat-form-field color="primary" style="width: 100%;">
        <input matInput placeholder="Número" formControlName="number">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field color="primary" style="width: 100%;">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field color="primary" style="width: 100%;">
          <input matInput placeholder="Duration" formControlName="duration">
        </mat-form-field>
    </div>

    <div *ngIf="this.audio?.file && this.audio?.file != 'null'">
      <audio controls>
        <source src="{{ url + 'get-audio-file/' + this.audio?.file }}" type="audio/mpeg" />
          El navegador web no soporta la reproducción de audio
      </audio>
    </div>
    <div>
        <input type="file" placeholder="Upload audio..." formControlName="file" (change)="fileProgress($event)">
    </div>
    <div class="buttons-container center">
      <button type="button" mat-raised-button color="primary" (click)="upload()">
        Save
      </button>
    </div>
</form>

